<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Incident Web Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <meta http-equiv="refresh" content="1">
-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

  <title>Incident Web Application</title>

  <style>
	body {padding-top: 50px;}
	.special {padding-top:50px;}
	table, th, td { padding: 10px; border: 1px solid black; border-collapse: collapse; text-align: center}
</style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href=".">Système de gestion des incidents</a>
      </div>
    </div>
  </nav>
  <div class="container special">
    <h2 class="h2">Liste des incidents</h2>
    <div class="table-responsive">
      <table class="center=">
        <thead>
        <tr>
          <th>Identifiant</th>
          <th>Type d'incident</th>
          <th>Spécialité médicale préconisée</th>
          <th>Longitude du lieu de l'incident</th>
          <th>Latitude du lieu de l'incident</th>
          <th>Incident traité</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${incidents.empty}">
          <td colspan="3">Aucun incident en cours</td>
        </tr>
        <tr th:each="incident: ${incidents}">
          <td><span th:text="${incident.id}"> Identifiant </span></td>
          <td><span th:text="${incident.type}"> Type d'incident </span></td>
          <td><span th:text="${incident.specialityNeeded}"> Spécialité médicale nécessaire </span></td>
          <td><span th:text="${incident.longitude}"> Longitude de l'incident </span></td>
          <td><span th:text="${incident.latitude}"> Latitude de l'incident </span></td>
          <td><span th:text="${incident.traitement}"> Traitement de l'incident </span></td>
          <td>
            <a th:href="@{/updateIncident/{id}(id=${incident.id})}"><button class="btn btn-info">Modifier</button></a>
            <a th:href="@{/deleteIncident/{id}(id=${incident.id})}"><button class="btn btn-danger">Supprimer</button></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <h4><a th:href="@{/createIncident}">Déclarer un nouvel incident</a></h4>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>